.foto {
         width: 100%;
         background-image: url("../imagens/principalfood.jpg");
         height: 500px;
         background-repeat: no-repeat;
         display: flex; 
         flex-direction: row-reverse;
         align-items: flex-end;
         background-size: cover;
  }

  .slogan {
        width: 100%;
        height: 100px;
        color: white;
}

.footer {
      width: 100%; 
      position: fixed;
      bottom: 0;
}
.rodape {
      width: 100%; 
}

form {
         max-width: 500px;
}

a {
         color: black;
}

.imagens img {
         max-height: 150px;    
}